{% extends "layout.html" %}
{% block content %}
<div>
    {{ sql }}
</div>
<div>
    <table>
        <thead>
        <tr>
            {% for i in headers %}
            <th> {{ i }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for row in results %} 
                <tr>
                    {% for i in row %}
                    <td>{{ i }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}        
        </tbody>
    </table>
    
</div>
{% endblock %}